.clients {
  padding-bottom: 94px;
}

.clients-list {
  display: flex;
  justify-content: space-between;
}

.clients-list__companies{
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  stroke: none;
  fill: #AFB1B8;
  width: 170px;
  height: 92px;

  &:hover,
  &:focus {
    transition: fill cubic-bezier(0.4, 0, 0.2, 1) 250ms;
    border: 1px solid var(--blue);
    border-radius: 4px;
    fill: var(--blue);
  }
}